  <div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-3 text-center">
      <h1>Edit my profile</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-11 col-xs-offset-1 col-sm-6 col-sm-offset-3 padded">
      <%= simple_form_for [@profile] do |f| %>
      <%= f.error_notification %>
      <%= f.input :first_name, placeholder: 'e.g: Nick' %>
      <%= f.input :last_name, placeholder: 'e.g: Carraway' %>
      <%= f.input :gender, collection: [:male, :female] %>
      <%= f.input :phone_number,  placeholder: 'e.g: +33610101010' %>
      <%= f.input :photo %>
      <%= f.button :submit %>
      <% end %>
    </div>
  </div>
