<div class='col-xs-4 col-xs-offset-4'>
  <h1>My profile</h1>
</div>

<div class='row'>
  <div class='col-xs-12 col-md-5 col-md-offset-1' >
    <h3>My informations</h3>
    <% if @profile.photo.presence %>
        <%= image_tag image_path(@profile.photo), {class: "avatar-profile"}%>
    <% else %>
      <%= image_tag ('neutral_avatar.jpeg'), {class: "avatar-profile"}%>
    <% end %>

    <p> First name <%= @profile.first_name || "" %></p>
    <p> Last name <%= @profile.last_name || "" %></p>
    <p> Phone Number <%= @profile.phone_number || "" %></p>

    <%= link_to edit_profile_path, {class: "btn btn-primary form-btn "} do %>   <h4>Edit your profile </h4>
    <% end %>
  </div>
</div>
